@import './libs/bootstrap-reboot.min';
@import './libs/_bootstrap-grid.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400;500;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100&display=swap');
@import './base/button.scss';
@import './base/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.hidden {
    display: none;
}

@import './blocks/header';
@import './blocks/mainScreen';
@import './blocks/aboutUs';
@import './blocks/services';
@import './blocks/choose';
@import './blocks/schedule';
@import './blocks/team';
@import './blocks/feedback';
@import './blocks/footer';
@import './blocks/contacts';
@import './blocks/pageup';
