.aboutus {
    background: no-repeat center/cover url("../img/offerBg.jpg");
    padding-top: 150px;
    min-height: 730px;
    &__descr {
        width: 500px;
        &-number {
            font-family: "Montserrat", Sans-serif;
            font-size: 60px;
            font-weight: 700;
            line-height: 70px;
            color: rgba(0,0,0,0.21);
        }
        &-title {
            span {
                font-family: "Montserrat", Sans-serif;
                font-size: 38px;
                font-weight: 700;
                line-height: 40px;
            }
            h2 {
                font-family: "Raleway", Sans-serif;
                font-size: 38px;
                font-weight: 400;
                line-height: 47px;
            }
        }
        &-text {
            margin-top: 15px;
            color: #929292;
            font-family: "Open Sans", Sans-serif;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0em;
            text-align-last: left;
        }
    }

}