.contacts {
    .p-0 {
        padding: 0;
    }
    height: 800px;
    background-color: #19191a;
    &-title {
        margin-top: 20px;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: -0.8px;
        color: $main-color;
        text-transform: uppercase;
        text-align: center;
    }
    &-devider {
        width: 170px;
        height: 3px;
        background-color: $main-color;
        margin: 30px auto 0 auto;
    }
    &-addres {
        margin-top: 30px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -0.2px;
        text-align: center;
    }
    &-tel {
        margin-top: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        a {
            color: #ffffff;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-mail {
        margin-top: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -0.2px;
        text-align: center;
        a {
            color: $main-color;
        }
    }
    &__form {
        padding: 0 20px 0 20px;
        margin-top: 15px;
        label {
            width: 100%;
            font-style: normal;
            font-size: 15px;
            font-family: Raleway,sans-serif;
            color: #8d8d8d;
        }
        input, textarea {
            width: 100%;
            background-color: rgba(0,0,0,0);
            text-transform: uppercase;
            letter-spacing: 1.8px;
            margin: 10px 0px 20px 0px;
            padding: 14px 18px 15px 18px;
            border-style: solid;
            border-width: 0px 0px 2px 0px;
            border-color: $main-color;
            color: #fff;
            outline: none;
            &::placeholder {
                color: #fff;
            }
        }
        textarea {
            height: 240px;
        }
        button {
            display: block; 
            margin: 0 auto;
        }
    }
    &__map {
        width: 100%;
        height: 100%;
        background: url('../img/map.jpg') center center/cover no-repeat;
    }
}