.mainScreen {
    padding-top: 170px;
    min-height: 600px;
    background: repeat url("../img/mainBg.jpg");
    &-lable {
        padding: 37px 10px 22px 38px;
        border-style: solid;
        border-width: 3px 3px 3px 3px;
        border-color: #9db800;
        color: #ffffff;
        font-family: "Raleway", Sans-serif;
        font-size: 38px;
        font-weight: 300;
        line-height: 47px;
        text-align: left;
        text-transform: uppercase;
        span {
            color: #ffffff;
            font-family: "Raleway", Sans-serif;
            font-size: 38px;
            font-weight: 700;
            line-height: 48px;
            text-align: left;
        }
    }
    &__description {
        padding-right: 15px;
        color:#fff;
        &-title {
            font-family: "Raleway", Sans-serif;
            font-size: 38px;
            font-weight: 800;
            line-height: 47px;
            text-transform: uppercase;
        }
        &-text {
            margin-top: 10px;
            font-family: "Open Sans", Sans-serif;
            font-size: 14px;
            line-height: 21px;
            
        }
    }
    &-btn {
        display: block;
        margin: 50px auto;
    }

}