.services {
    .col-xl-3 {
        padding: 0;
        &:hover {
            background-color: #3ad5e9;
        }
    }
    &-service {
        height: 635px;
        background: center center/cover no-repeat url('../img/cards/cardService.jpg');
        padding: 0% 5% 0% 15%;
    }
    &-mechanics {
        height: 635px;
        background: center center/cover no-repeat url('../img/cards/cardMechanics.jpg');
        padding: 0% 5% 0% 15%;
    }
    &-warranty {
        height: 635px;
        background: center center/cover no-repeat url('../img/cards/cardWarranty.jpg');
        padding: 0% 5% 0% 15%;
    }
    &-pricing {
        height: 635px;
        background: center center/cover no-repeat url('../img/cards/cardPricing.jpg');
        padding: 0% 5% 0% 15%;
    }
    &-title {
        padding-top: 90%;
        color: #fff;
        font-family: "Montserrat", Sans-serif;
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
        align-self: flex-start;
        text-align: left;
    }
}