.team {
    margin-top: 100px;
    &-number {
        font-family: "Montserrat", Sans-serif;
        font-size: 60px;
        font-weight: 700;
        color: rgba(0,0,0,0.21);
    }
    &-label {
        color: #14171c;
        font-family: "Raleway", Sans-serif;
        font-size: 38px;
        font-weight: 300;
        span {
            font-weight: 800;
        }
    }
    &__specialist {
        margin-top: 25px;
        min-height: 465px;
        &-photo {
            width: 356px;
            height: 340px;
            img {
                width: 100%;
            }
        }
        &-name {
            font-family: "Raleway", Sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            margin-top: 28px;
        }
        &-position {
            color: $main-color;
            font-family: "Raleway", Sans-serif;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
        }
    }
}